/home/yilin/SIP_project/cdasim-config/xil-Town05/cdasim_config/mmitss/mmitss_mrp1/nojournal/bin/v2x-data
/home/yilin/SIP_project/cdasim-config/xil-Town05/cdasim_config/mmitss/mmitss_vsp1/nojournal/bin/v2x-data
